@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin user-photo($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 10%;
}
