@use "../../sass/abstracts/variables" as c;
.chatHeader {
  background-color: c.$mainColor;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  .person {
    flex: 3;
    display: flex;
    .personPhoto {
      width: 40px;
      height: 40px;
      .photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 10%;
      }
    }
    .personInfo {
      padding: 2px;
      .name {
        font-weight: bold;
      }
      .status {
        color: gray;
      }
    }
  }
  .option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
