@use "../../sass/abstracts/variables" as c;
@use "../../sass/abstracts/mixins" as *;
.chatHeader {
  background-color: c.$mainColor;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  .person {
    flex: 3;
    display: flex;
    .personPhoto {
      // width: 40px;
      // height: 40px;
      .photo {
        @include user-photo(40px);
      }
    }
    .personInfo {
      padding: 2px;
      .name {
        font-weight: bold;
      }
      .status {
        color: gray;
      }
    }
  }
  .option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
